# Connecting to Cassandra from Python

First we have to install Cassandra Driver from DataStax. 

pip install cassandra-driver

We can now import cluster which allows us to connect to our key space then our table.

In [13]:
from cassandra.cluster import Cluster
import pandas as pd

In [12]:
cluster = Cluster()
session = cluster.connect('netflix')
session.execute("INSERT INTO emp (emp_id, emp_name, emp_city, emp_phone, emp_sal) VALUES(1,'ram', 'Hyderabad', 9848022338, 50000)")

## Loading csv

In [17]:
df = pd.read_csv('/Users/sheng/Downloads/netflix_titles.csv')

In [29]:
df.shape

(6118, 12)

In [18]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      4265 non-null   object
 4   cast          5664 non-null   object
 5   country       5758 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6224 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

In [26]:
def pandas_factory(colnames, rows):
    return pd.DataFrame(rows, columns=colnames)
session.row_factory = pandas_factory
session.default_fetch_size = None
query = "SELECT * from netflix"
rslt = session.execute(query, timeout=None)
df1 = rslt._current_rows

In [27]:
df1

,show_id,cast,country,date_added,description,director,duration,listed_in,rating,release_year,title,type
0,80229034,"Gashmeer Mahajani, Heena Parmar",India,"May 1, 2018",The cases are supernatural; the police officer...,None,1 Season,"International TV Shows, TV Horror, TV Mysteries",TV-14,2018,Anjaan: Special Crimes Unit,TV Show
1,80189208,"Christina Mok, River Huang, Stone Yang, April ...",Taiwan,"September 1, 2017",Mysterious ghosts – determined to reconnect wi...,None,1 Season,"International TV Shows, TV Dramas, TV Horror",TV-14,2017,All About Love,TV Show
2,80217120,None,United States,"July 1, 2018",DJs and industry insiders offer a backstage pa...,"Bert Marcus, Cyrus Saidi",96 min,"Documentaries, Music & Musicals",TV-MA,2017,What We Started,Movie
3,80156995,"Chris Tong, Shaun Chen, Emily Lim, Remus Kam, ...",None,"October 1, 2017","Repeatedly on opposite sides of civil cases, t...",None,1 Season,"International TV Shows, TV Dramas",TV-14,2012,Justice in the City,TV Show
4,80141338,"Florian Teichtmeister, Heino Ferch, Melika For...","Austria, Czech Republic","January 15, 2017",Tasked with unraveling the assassination of Ar...,Andreas Prochaska,98 min,"Dramas, International Movies",NR,2014,Sarajevo,Movie
...,...,...,...,...,...,...,...,...,...,...,...,...
6113,80173150,"Matt Bomer, Josh Wiggins, Bill Pullman, Alex N...",United States,"October 1, 2019",A suburban teen goes hunting with his estrange...,"Alex Smith, Andrew J. Smith",96 min,"Dramas, Independent Movies, Thrillers",PG-13,2017,Walking Out,Movie
6114,81012998,"Daniel Ezra, Taye Diggs, Samantha Logan, Bre-Z...",United States,"March 28, 2019",Culture clashes and brewing rivalries test a t...,None,1 Season,"TV Dramas, Teen TV Shows",TV-14,2019,All American,TV Show
6115,80170687,"Yojiro Noda, Rila Fukushima, Rena Matsui, Miwa...",Japan,"August 15, 2017",Five beautiful but mysterious women move in wi...,None,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",TV-MA,2017,Million Yen Women,TV Show
6116,70205014,"Maaya Sakamoto, Monica Rial, Vic Mignogna, Luc...",Japan,"April 1, 2017",New student Haruhi stumbles on the Ouran High ...,Takuya Igarashi,1 Season,"Anime Series, Romantic TV Shows, Teen TV Shows",TV-14,2006,Ouran High School Host Club,TV Show
6117,81037848,"Beren Saat, Mehmet Günsür, Metin Akdülger, Mel...",Turkey,"December 27, 2019",A painter in Istanbul embarks on a personal jo...,None,1 Season,"International TV Shows, TV Dramas, TV Mysteries",TV-MA,2019,The Gift,TV Show